.dialog[open] {
  display: flex;
}

.dialog {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  flex-direction: column;
  gap: 1rem;
  color: var(--dialogs-foreground);
  background: var(--dialogs-background);
  border: 0;
  box-shadow: 0.5rem 0.5rem #000;

  &::backdrop {
    background: #000;
    opacity: 0.5;
  }

  .title {
    color: var(--dialog-titlebar-foreground);
    background: var(--dialog-titlebar-background);
    text-align: center;
  }

  .settings {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0 1rem;
    justify-content: space-around;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;

    button {
      position: relative;
      color: var(--dialog-buttons-foreground);
      background: var(--dialog-buttons-background);
      box-shadow: 0.5rem 0.5rem #000;
      border: none;
      padding: 0.5rem 1rem;
      font: inherit;
      cursor: pointer;

      &:focus:not(:focus-visible) {
        outline: none;
      }

      &:hover {
        &::before {
          position: absolute;
          content: "▶";
          left: 0.1rem;
        }

        &::after {
          position: absolute;
          content: "◀";
          float: right;
          right: 0.1rem;
        }
      }
    }
  }
}