.fileContainer {
  border: 0.0625rem solid var(--window-border-foreground);
  margin: 0.75rem;
}

.file {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fileHeader {
  display: flex;
  justify-content: center;
}

.fileName {
  color: var(--window-border-background);
  background: var(--window-border-foreground);
  padding: 0.25rem 1rem;
}

.status {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  color: var(--status-line-foreground);
  background: var(--status-line-background);
  margin-bottom: 0;
  padding: 0.25rem;

  .cursor {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}