.fileContainer {
  border: 0.0625rem solid var(--window-border-foreground);
  margin: 0.75rem;
  height: 100%;
}

.file {
  position: relative;
  top: calc(-0.81rem);
  height: 100%;
}

.fileHeader {
  display: flex;
  justify-content: center;
}

.fileName {
  color: var(--window-border-background);
  background: var(--window-border-foreground);
  padding: 0.25rem 1rem;
}

.status {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  color: var(--status-line-foreground);
  background: var(--status-line-background);
  margin-bottom: 0;
  padding: 0.25rem;
  position: relative;
  top: calc(-0.0625rem - 1.5rem);

  .cursor {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}