.find {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1rem;

  label {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    white-space: nowrap;
  }

  input[type=text] {
    border: 0.0625rem solid var(--dialogs-foreground);
    color: var(--dialogs-foreground);
    background: var(--dialogs-background);
    padding: 0.25rem;
  }

  input[type=checkbox] {
    width: 1rem;
    height: 1rem;
    accent-color: var(--dialogs-foreground);
  }
}
