.menu {
  color: var(--menubar-foreground);
  background: var(--menubar-background);
  margin-bottom: 0;

  > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      position: relative;
    }

    > li.active,
    > li:hover {
      background: var(--menubar-foreground);
      color: var(--menubar-background);
    }
  }

  > ul:has(li.active) {
    > li:not(.active):hover {
      background: color-mix(in srgb, var(--menubar-foreground) 75%, var(--menubar-background));
      color: var(--menubar-background);
    }
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0.5rem 1rem;
    font: inherit;
    cursor: pointer;

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }
}
