.menu {
  background: #a5a6a5;
  margin-bottom: 0;

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  > ul {
    flex-direction: row;

    > li {
      position: relative;
    }

    > li.active, > li:hover {
      background: #000;
      color: #A5A6A5;
    }
  }

  > ul:has(li.active) {
    > li:not(.active):hover {
      background: #222;
      color: #A5A6A5;
    }
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0.5rem 1rem;
    font: inherit;
    cursor: pointer;

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }

  .subMenu {
    position: absolute;
    top: 2.32rem;
    left: 0rem;
    background: #a5a6a5;
    z-index: 1;
    box-shadow: 0.5rem 0.5rem #000;

    > ul {
      flex-direction: column;
      margin: 0.25rem;
      min-width: 10rem;
      border: 0.0625rem solid #000;

      > li {
        cursor: pointer;
        color: #000;
        white-space: pre;

        > button {
          width: 100%;
          text-align: left;
        }

        &:hover {
          background: #000;
          color: #A5A6A5;
        }
      }
    }
  }
}