.menu {
  color: var(--menubar-foreground);
  background: var(--menubar-background);
  margin-bottom: 0;

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  > ul {
    flex-direction: row;

    > li {
      position: relative;
    }

    > li.active,
    > li:hover {
      background: var(--menubar-foreground);
      color: var(--menubar-background);
    }
  }

  > ul:has(li.active) {
    > li:not(.active):hover {
      background: color-mix(in srgb, var(--menubar-foreground) 75%, var(--menubar-background));
      color: var(--menubar-background);
    }
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0.5rem 1rem;
    font: inherit;
    cursor: pointer;

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }

  .subMenu {
    position: absolute;
    top: 2.32rem;
    left: 0rem;
    background: var(--menubar-background);
    z-index: 1;
    box-shadow: 0.5rem 0.5rem #000;

    > ul {
      flex-direction: column;
      margin: 0.25rem;
      min-width: 10rem;
      border: 0.0625rem solid #000;

      > li {
        cursor: pointer;
        color: var(--menubar-foreground);
        white-space: pre;

        > button {
          width: 100%;
          text-align: left;
        }

        &:hover {
          background: var(--menubar-foreground);
          color: var(--menubar-background);
        }
      }
    }
  }
}
