.optionList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  max-height: 12.88rem;
  margin-top: 1rem;
  overflow-y: scroll;
  border: 0.0625rem solid #000;
  margin: 0;
  padding: 0;

  li {
    cursor: pointer;

    &.active {
      color: var(--dialogs-background);
      background: var(--dialogs-foreground);
    }

    &:not(.active):hover {
      color: var(--dialogs-background);
      background: color-mix(in srgb, var(--dialogs-foreground) 75%, var(--dialogs-background));
    }

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0.25rem 1rem;
      font: inherit;
      cursor: pointer;
      white-space: nowrap;

      &:focus:not(:focus-visible) {
        outline: none;
      }
    }
  }
}
