.subMenu {
  position: absolute;
  top: 2.32rem;
  left: 0rem;
  background: color-mix(in srgb, var(--menubar-background) 85%, transparent);
  z-index: 1;
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);

  > ul {
    flex-direction: column;
    list-style-type: none;
    margin: 0.25rem;
    padding: 0;
    min-width: 10rem;
    border: 0.0625rem solid var(--menubar-foreground);

    > li {
      cursor: pointer;
      color: var(--menubar-foreground);
      white-space: pre;

      > button {
        width: 100%;
        text-align: left;

        &:hover:not(:disabled) {
          background: var(--menubar-foreground);
          color: var(--menubar-background);
        }

        &:disabled {
          color: color-mix(in srgb, var(--menubar-foreground) 60%, var(--menubar-background));
        }
      }
    }

  }

  hr {
    border: none;
    margin: 0;
    background-color: var(--menubar-foreground);
    height: 0.0625rem;
  }
}